/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* Variables */
/* Mixin */
.flexProp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.justifyCenter {
  justify-content: center;
}
/*main CSS*/
html {
  font-size: 62.5%;
}
html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
}
#background {
  height: 100%;
  background-color: #f2f2f2;
}
.navBar {
  background-color: #0099ff;
  border-radius: 1rem;
  position: fixed;
  width: 100%;
  height: 5rem;
  padding: 1.5rem;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.navBar ul a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}
/* put a round border around pic and constricted height */
.profilePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50rem;
}
.profilePic img {
  border-radius: 25rem;
}
@media only screen and (max-width: 500px) {
  .profilePic img {
    padding-left: 1em;
  }
}
/* Nested <h1> into container */
.namePhrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 16rem;
  border-bottom: 0.1rem solid black;
}
.namePhrase h1 {
  font-size: 4rem;
  margin: 5rem 1rem 1rem 1rem;
}
@media only screen and (max-width: 500px) {
  .namePhrase h1 {
    padding-left: 1.5em;
  }
}
h2 {
  font-size: 3rem;
}
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 27.75rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.portfolio p {
  font-size: 2rem;
  font-weight: bold;
}
@media only screen and (max-width: 814px) {
  .portfolio p {
    max-width: 16.9em;
    padding-left: 2.25em;
  }
}
.portfolio button {
  border: 0.15rem solid black;
  border-radius: 1rem;
  font-size: 3rem;
  padding: 2rem;
}
.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .mainContent {
    max-width: 100%;
    flex-direction: column;
  }
}
.mainContent .storyTime {
  width: 35rem;
  height: auto;
  padding: 2rem 2rem 2rem 1rem;
}
@media only screen and (max-width: 800px) {
  .mainContent .storyTime {
    max-width: 100%;
    padding-left: 3rem;
  }
}
.mainContent .storyTime h2 {
  margin: 2rem 0 2rem 0;
}
.mainContent .storyTime p a {
  color: #cc0000;
  font-weight: bold;
  text-decoration: none;
}
.skillSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border: 0.15rem solid darkgray;
  border-radius: 1rem;
  width: 35rem;
  height: auto;
  margin-top: 3.5rem;
}
.skillSet h2 {
  border-bottom: 0.15rem solid darkgrey;
  width: 100%;
  height: 7rem;
  padding: 2rem 0 0 9.25rem;
}
.skillSet ul li {
  border-bottom: 0.15rem solid darkgrey;
  width: 34.75rem;
  margin: 4.3rem 0 4.3rem 0;
  padding: 0 0 3.5rem 2rem;
}
.workHistory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-top: 5rem;
}
.workHistory h2 {
  height: 5rem;
  width: 80%;
}
@media only screen and (max-width: 800px) {
  .workHistory h2 {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
  }
}
.workHistory table {
  font-family: Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
.workHistory table td,
.workHistory table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.workHistory table tr:nth-child(even) {
  background-color: #dddddd;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}
